

.Game {
  position: relative;
  margin: 32px auto;
  width: 960px;
  height: 540px;
  background-color: #efefef;
}

.Game-field {
  position: absolute;
  width: 192px;
  height: 416px;
  background-image: url(../assets/puyo_field_back.png);
  border: 4px solid white;
}

.Game-field-active {
  border: 4px solid blue;
}

.Game-pos-field1 {
  left: 132px;
  top: 64px;
}

.Game-pos-field2 {
  right: 132px;
  top: 64px;
}

.Game-button {
  position: absolute;
  font-weight: bold;
  /* padding: 10px 30px; */
  background-color: #248;
  color: #fff;
  border-style: none;
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;
}

.Game-button:hover {
  background-color: #24d;
  color: #fff;
}

.Game-size-onoff {
  font-size: 16px;
  width: 110px;
  height: 50px;
}

.Game-pos-onoff1 {
  left: 10px;
  top: 10px;
}

.Game-pos-onoff2 {
  right: 10px;
  top: 10px;
}

.Game-size-button {
  font-size: 16px;
  width: 64px;
  height: 48px;
}

.Game-size-button2 {
  font-size: 16px;
  width: 140px;
  height: 48px;
}

.Game-pos-leftmove {
  left: 410px;
  top: 330px;
}

.Game-pos-rightmove {
  right: 410px;
  top: 330px;
}

.Game-pos-leftturn {
  left: 410px;
  top: 385px;
}

.Game-pos-rightturn {
  right: 410px;
  top: 385px;
}

.Game-pos-put {
  left: 410px;
  top: 440px;
}

.Game-pos-go {
  left: 450px;
  top: 130px;
}

.Game-size-go {
  font-size: 16px;
  width: 42px;
  height: 32px;
}

.Game-pos-reset {
  left: 430px;
  top: 60px;
}

.Game-size-reset {
  font-size: 16px;
  width: 80px;
  height: 32px;
}

.Game-input-seed {
  position: absolute;
  width: 80px;
  height: 20px;
  border: 1px solid gray;
  left: 430px;
  top: 100px;
}

.Game-history {
  position: absolute;
}

.Game-history-tile {
  position: absolute;
  height: 30px;
  width: 120px;
  background-color: white;
  border: 1px solid black;
}

.Game-pos-history1 {
  position: absolute;
  left: 12px;
  top: 64px;
}

.Game-pos-history2 {
  position: absolute;
  right: 132px;
  top: 64px;
}

.Game-next {
  width: 32px;
  height: 64px;
  background-color: black;
}

.Game-pos-next11 {
  position: absolute;
  left: 350px;
  top: 96px;
}

.Game-pos-next12 {
  position: absolute;
  left: 370px;
  top: 160px;
}

.Game-pos-next21 {
  position: absolute;
  right: 350px;
  top: 96px;
}

.Game-pos-next22 {
  position: absolute;
  right: 370px;
  top: 160px;
}

.Game-pos-frame {
  position: absolute;
  left: 430px;
  top: 32px;
}

.Game-pos-chain1 {
  position: absolute;
  left: 350px;
  top: 240px;
}

.Game-pos-chain2 {
  position: absolute;
  right: 350px;
  top: 240px;
}

.Game-pos-score1 {
  position: absolute;
  left: 350px;
  top: 270px;
}

.Game-pos-score2 {
  position: absolute;
  right: 350px;
  top: 270px;
}

.Game-pos-usedScore1 {
  position: absolute;
  left: 350px;
  top: 300px;
}

.Game-pos-usedScore2 {
  position: absolute;
  right: 350px;
  top: 300px;
}

.Game-pos-activeOjama1 {
  position: absolute;
  left: 132px;
  top: 16px;
}

.Game-pos-activeOjama2 {
  position: absolute;
  right: 132px;
  top: 16px;
}

.Game-pos-nonActiveOjama1 {
  position: absolute;
  left: 132px;
  top: 36px;
}

.Game-pos-nonActiveOjama2 {
  position: absolute;
  right: 132px;
  top: 36px;
}

.Game-pos-gameStatusText {
  position: absolute;
  left: 320px;
  bottom: 0px;
}

.Game-puyo {
  position: absolute;
  width: 32px;
  height: 32px;
}

.Game-puyo-kind-red {
  background-image: url(../assets/puyo_r.png);
}

.Game-puyo-kind-green {
  background-image: url(../assets/puyo_g.png);
}

.Game-puyo-kind-blue {
  background-image: url(../assets/puyo_b.png);
}

.Game-puyo-kind-yellow {
  background-image: url(../assets/puyo_y.png);
}

.Game-puyo-kind-ojama {
  background-image: url(../assets/puyo_o.png);
}

.Game-puyo-kind-blank {
  background-image: none;
}

.hidden {
  visibility: hidden;
}
